.card {
  background-color: rgba(128, 50, 201, 0.1);
  width: 85%;
  height: 20vh;
  margin: 10%;
  box-sizing: border-box;
  display: flex;
  vertical-align: bottom;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 50px rgb(48, 94, 153, 0.5);
}

.date {
  font-size: 3vh;
}

.temperature {
  font-size: 5vh;
}
